body {
	margin: 0;
}

.home {
	background-image: linear-gradient(
		105deg,
		#f4f4f4 75%,
		#22313f calc(75% + 2px)
	);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: #22313f;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #18272f;
	position: relative;
}

a::before {
	content: '';
	background-color: hsla(196, 61%, 58%, 0.75);
	position: absolute;
	left: 0;
	bottom: 3px;
	width: 100%;
	height: 4px;
	transition: all 0.3s ease-in-out;
}

a:hover::before {
	bottom: 0;
	height: 100%;
}

.cartoon {
	padding-left: 20%;
}

.title-wide {
	color: #22313f;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	width: 100%;
}

.title-mobile {
	color: #22313f;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}
